body {
  margin: 0;
  padding: 0;
  background-color: #9a6b75; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.center {
  text-align: center; }

.inline {
  display: inline-block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }
