@import url("https://fonts.googleapis.com/css?family=Rubik");
body {
  font-family: 'Rubik', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  color: #1f363d; }

h2 {
  font-size: 36px;
  margin: 0;
  font-weight: 400; }

body {
  margin: 0;
  padding: 0; }

.align-left, #menu .logo {
  text-align: left; }

.align-right {
  text-align: right; }

.center {
  text-align: center; }

.inline, #menu .logo {
  display: inline-block; }

.relative, .wrapper {
  position: relative; }

.absolute, #main .planner-ui .navigation-panel, #main .planner-ui .navigation-panel .nav-controller {
  position: absolute; }

.padded, #main .planner-ui .navigation-panel {
  padding: 14px; }

.col {
  margin-left: 1%; }

.span2 {
  width: 15.83333%;
  float: left; }

.span3 {
  width: 24.25%;
  float: left; }

.span4 {
  width: 32.66667%;
  float: left; }

.span5 {
  width: 41.08333%;
  float: left; }

.span6 {
  width: 49.5%;
  float: left; }

.span7 {
  width: 57.91667%;
  float: left; }

.span8 {
  width: 66.33333%;
  float: left; }

.span9 {
  width: 74.75%;
  float: left; }

.span10 {
  width: 83.16667%;
  float: left; }

.span11 {
  width: 91.58333%;
  float: left; }

.span12 {
  width: 100%;
  float: left; }

.offset-8 {
  margin-left: 67.33333%; }

.offset-9 {
  margin-left: 75.75%; }

.offset-10 {
  margin-left: 84.1667%; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden; }

#menu {
  padding: .5em 0;
  max-height: 5vh; }
  #menu .logo svg {
    stroke: #ff5252;
    transform: scale(1.15); }
  #menu .logo h2 {
    color: #1f363d;
    display: inherit; }

#main .wrapper {
  min-height: 89vh;
  height: 89vh;
  top: 1vh; }

#main .planner-ui {
  height: 100%; }
  #main .planner-ui .map-section {
    height: inherit; }
  #main .planner-ui .navigation-panel {
    height: inherit;
    background-color: rgba(73, 140, 138, 0.95);
    box-sizing: border-box; }
    #main .planner-ui .navigation-panel .nav-controller {
      top: 50%;
      transform: translateY(-50%);
      height: inherit;
      margin-top: .25em; }
      #main .planner-ui .navigation-panel .nav-controller svg {
        transform: scale(1.15);
        stroke: rgba(31, 54, 61, 0.85);
        transition: all .075s linear; }
        #main .planner-ui .navigation-panel .nav-controller svg:hover {
          cursor: pointer;
          transform: scale(1.25);
          stroke: #1f363d;
          transition: all .075s linear; }
    #main .planner-ui .navigation-panel .filters {
      margin-top: 1.25em; }
      #main .planner-ui .navigation-panel .filters select {
        vertical-align: super;
        width: 80%; }
      #main .planner-ui .navigation-panel .filters svg:first-child {
        vertical-align: middle;
        stroke: #f6f4f3; }
      #main .planner-ui .navigation-panel .filters svg:last-child {
        width: 14px;
        height: 14px;
        vertical-align: middle; }
        #main .planner-ui .navigation-panel .filters svg:last-child:hover {
          stroke: aquamarine;
          cursor: pointer;
          transition: all .075s linear; }
    #main .planner-ui .navigation-panel .planner-list {
      height: inherit;
      margin-top: .25em;
      height: 100%;
      border-left: 1px solid white;
      box-sizing: border-box;
      padding: 0 7px; }
      #main .planner-ui .navigation-panel .planner-list h4 {
        margin: 0; }
