@import 'fonts';
@import 'helpers';
@import 'grid';
.wrapper {
	@extend .relative;
	max-width:1440px;
	margin:0 auto;
	overflow:hidden;
}

#menu {
	padding:.5em 0;
	max-height:5vh;
	.logo {
		@extend .inline;
		@extend .align-left;
		svg {
			stroke: $primary-red;
			transform:scale(1.15);
		}
		h2 {
			color:$tertiary-black;
			display: inherit;;
		}
	}
}

#main {
	.wrapper {
		min-height:89vh;
		height:89vh;
		top:1vh;
	}
	.planner-ui {
		height:100%;
		.map-section {
			height:inherit;
		}
		.navigation-panel {
			@extend .padded;
			@extend .absolute;
			//top:50%;
			//transform: translateY(-50%);
			height:inherit;
			background-color: rgba(73, 140, 138, 0.95);
			box-sizing:border-box;
			.nav-controller {
				@extend .absolute;
				top:50%;
				transform: translateY(-50%);
				height:inherit;
				margin-top:.25em;
				svg {
					transform:scale(1.15);
					stroke:transparentize($tertiary-black, .15);
					transition: all .075s linear;
					&:hover {
						cursor:pointer;
						transform:scale(1.25);
						stroke:$tertiary-black;
						transition: all .075s linear;
					}
				}
			}

			.filters {
				margin-top:1.25em;
				select {
					vertical-align: super;
					width:80%;
				}
				svg:first-child{
					 vertical-align: middle;
					 stroke:$primary-white;
				}
				svg:last-child {
					width:14px;
					height:14px;
					vertical-align: middle;
					&:hover {
						stroke:aquamarine;
						cursor:pointer;
						transition: all .075s linear;
					}
				}
			}

			.planner-list{
				height:inherit;
				margin-top: .25em;
				height:100%;
				border-left:1px solid white;
				box-sizing:border-box;
				padding:0 7px;

				h4 {
					margin:0;
				}
			}
		}
	}
}
