@import 'fonts';
@import 'helpers';
@import 'grid';
.wrapper {
	@extend .relative;
	max-width:1600px;
	margin:0 auto;
	overflow:hidden;
}

#menu {
	padding:.5em 0;
	max-height:5vh;
	.logo {
		@extend .inline;
		@extend .align-left;
		svg {
			stroke: $primary-red;
			transform:scale(1.15);
		}
		h2 {
			color:$tertiary-black;
			display: inherit;;
		}
	}
}

#main {
	.wrapper {
		min-height:89vh;
		height:89vh;
		top:1vh;
	}
	.planner-ui {
		height:100%;
		.map-section {
			height:inherit;
		}
		.navigation-panel {
			@extend .absolute;
			@extend .padded;
			//top:50%;
			//transform: translateY(-50%);
			height:inherit;
			background-color: transparentize($primary-pink-light, .1);
			border:1px solid $primary-white;
			box-shadow: 1px 1px 5px 2px $primary-red;
			box-sizing:border-box;
			.nav-controller {
				height:inherit;
				margin-top:.25em;
				svg {
					transform:scale(1.3);
					stroke:$tertiary-black;
					&:hover {
						cursor:pointer;
						fill:$primary-white;
					}
				}
			}

			.filters {
				margin-top:1.25em;
				select {
					vertical-align: super;
					width:80%;
				}
			}

			.planner-list{
				height:inherit;
				margin-top: .25em;
				height:100%;
				border-left:1px solid white;
				box-sizing:border-box;
				padding:0 7px;

				h4 {
					margin:0;
				}
			}
		}
	}
}
